// FONTS move this to another folder soon ¯\_(ツ)_/¯ 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Work+Sans:ital,wght@0,300;0,400;1,100&display=swap');
// colors
$green: #38846D;
$pink: #F3E4E1;
$orange: #E5674E;
$brown: #2F2926;
$darkbrown: rgb(20, 18, 16);


